<div class="row col-md-4">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h1 class="panel-title">Add a Person</h1>
		</div>
		<div class="panel-body">
			<%= erb :"/people/_form" %> 
		</div>
	</div>
</div>
