<h3>Name:</h3>
<p><%= @person.first_name %> <%= @person.last_name %></p>
<h3>Birthdate:</h3> 
<p><%= @birthdate %></p>
<h3>Birthpath Number:</h3>
<p><%= @message %></p>
<a href="/people">Back to List</a>